:root {
  --gunmetal: #2D3142;
  --dark-sea-green: #79B791;
  --turquoise-green: #ABD1B5;
  --floral-white: #FFFAFA;
  --light-red-ochre: #EF8354;

  --gunmetal: #2D3142;
  --black-coral: #4F5D75;
  --silver: #BFC0C0;
  --white: #FFFFFF;
  --light-red-ochre: #EF8354;
}

body {
  color: var(--gunmetal);
  background-color: var(--floral-white);
}

a {
  padding: 2px;
}

a:link, a:visited {
  color: var(--dark-sea-green);
}

a:hover {
  color: var(--turquoise-green);
}

a:active {
  border: 2px solid var(--light-red-ochre);
  border-radius: 2px;
}

.header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--gunmetal);
  color: var(--floral-white);
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.things_i_love, .contact {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}